
.logo {
	position:absolute;
	top:10px;right:0px;

}

.corps {
		border: 1px solid black;
}

.corps h1 {
	text-align:center;

}

ul li {
	list-style: none;
}

a:link {color: green; text-decoration-style: none;}
a:visited {color:gray; text-decoration-style: none;}
a:hover {color:red; text-decoration: none;}

